body {
    background: #FFFAFF;
}

html, body, div {
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
    -webkit-user-drag: text;
}

#browser-not-supported {
    font-size: 0.8em;
    font-family: Verdana, Helvetica, Arial;
    color: #000000;
}

#svg_editor * {
    transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
}

#svg_editor hr {
    border: none;
    border-bottom: 1px solid #808080;
}

#svg_editor select {
    margin-top: 4px;
}

#svg_editor #svgroot {
	-moz-user-select: none;
	-webkit-user-select: none;
	position: absolute;
	top: 0;
	left: 0;
}

#svg_editor #svgcanvas {
    line-height: normal;
    background-color: #A0A0A0;
    text-align: center;
    vertical-align: middle;
    width: 640px;
    height: 480px;
}

#rulers > div {
    position: absolute;
    background: #DDD;
    z-index: 1;
    overflow: hidden;
}

#ruler_corner {
    top: 76px;
    left: 41px;
    width: 15px;
    height: 15px;
}

#ruler_x {
	height: 15px;
	top: 76px;
	left: 56px;
	right: 30px;
	border-bottom: 1px solid;
	border-left: 1px solid #777;
}

#rulers.moved #ruler_corner,
#rulers.moved #ruler_x {
	top: 101px;
}

#ruler_y {
	width: 15px;
	top: 91px;
	left: 41px;
	bottom: 78px;
	border-right: 1px solid;
	border-top: 1px solid #777;
}

#rulers.moved #ruler_y {
	top: 116px;
}


#ruler_x canvas:first-child {
	margin-left: -16px;
}

#ruler_x canvas {
	float: left;
}

#ruler_y canvas {
	margin-top: -16px;
}

#ruler_x > div, 
#ruler_y > div {
	overflow: hidden;
}

#svg_editor div#palette_holder {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 31px;
    border: 1px solid #808080;
    border-top: none;
    margin-top: 2px;
    margin-left: 4px;
    position: relative;
    z-index: 2;
}

#svg_editor div#workarea {
    display: inline-table-cell;
    position: absolute;
    top: 75px;
    left: 40px;
    bottom: 62px;
    right: 14px;
    background-color: #A0A0A0;
    border: 1px solid #808080;
    overflow: auto;
    text-align: center;
}

#svg_editor #stroke_bg, 
#svg_editor #fill_bg {
	height: 16px;
	width: 16px;
	margin: 1px;
}

#svg_editor #fill_color, #svg_editor #stroke_color {
	height: 16px;
	width: 16px;
	border: 1px solid #808080;
	cursor: pointer;
	margin-top: -18px;
	margin-left: 1px;
}

